
<script>


var myDataView;
var myDataViewList;

function loadDataView(){

    myDataView = new dhtmlXDataView({
				container:"data_container",
				type:{
					template
					:

					"<div class='panel panel-#PanelStatus#' style='width:130px'>" +
					    "<div class='panel-heading' style='text-align: center'>#AttendanceCheckStatus#</div>" +
					    "<div class='panel-body'>" +
					        "<img src='#ImgSRC#' style='width:100px;height:100px'>" +
					    "</div>" +
					    "<div class='panel-footer' style='text-align: center'>"+
					    "#Name# <br>" +
					    "<div id='specificControl_#id#' data-toggle='popover' data-popover-content='#specificControl'></div>" +
					    "#IdNum#" +
					    "</div>" +
					"</div>"


					,
					height:280,
					width:150
				}

			});
}

function loadDataViewList(){

    myDataViewList = new dhtmlXDataView({
				container:"data_container_list",
				type:{
					template
					:

					"<div class='panel panel-#PanelStatus#' style='width:130px'>" +
					    "<div class='panel-heading' style='text-align: center'>#AttendanceCheckStatus#</div>" +
					    "<div class='panel-body'>" +
					        "<img src='#ImgSRC#' style='width:100px;height:100px'>" +
					    "</div>" +
					    "<div class='panel-footer' style='text-align: center'>"+
					    "#Name# <br>" +
					    "<div id='specificControl_list_#id#' data-toggle='popover' data-popover-content='#specificControl_list'></div>" +
					    "#IdNum#" +
					    "</div>" +
					"</div>"


					,
					height:280,
					width:150
				}

			});
}

</script>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="JavaScript:window.location.reload()">BioBeacon 출석인증 시스템</a>
    </div>
    <ul class="nav navbar-nav">
      <li onclick="activeMyInfo()" class="active"><a data-toggle="tab" href="#myinfo" id="chul1">내 정보</a></li>
      <li onclick="activeChulCheck()"><a data-toggle="tab" href="#attendance_check" id="chul2">출석체크</a></li>
      <li onclick="activeChulCheckList()"><a data-toggle="tab" href="#attendance_check_list" id="chul3">강의기록</a></li>
    </ul>
      <ul class="navbar-form navbar-right" ng-controller="LogoutController">
          <!--    <input name="logout" class="form-control btn btn-login" tabindex="4" value="로그아웃" ng-click="doLogout()" onclick="void()"> -->
          <button type="button" class="btn btn-danger" id="myBtn">Logout</button>

          <!-- Modal -->
          <div class="modal fade" id="logoutCheck" role="dialog">
              <div class="modal-dialog" >

                  <!-- Modal content-->
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">경고</h4>
                      </div>
                      <div class="modal-body">
                          <p>정말 로그아웃 하시겠습니까?</p>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="doLogout()">네</button>
                          <button type="submit" class="btn btn-default" data-dismiss="modal">아니요</button>
                      </div>
                  </div>

              </div>
          </div>
      <ul/>
  </div>
</nav>

<div class="tab-content biobeacon-content container">
	<div id="myinfo" class="tab-pane fade in active" >
		<div class="panel panel-default" ng-controller="ProfileController" ng-init="loadProfile()">
            <div class="panel-heading">사용자 프로파일 <i class="fa fa-cog fa-spin" onclick="optionclick()" style="cursor:pointer;float: right; font-size:24px"></i>
            <script>
                    function optionclick(){
             $("#optionButton").css("z-index", "9999");
            $("#optionButton").appendTo("body").modal();
             }
                </script>
                <div class="modal fade" id="optionButton" role="dialog" ng-controller="SaveLectureTime">
              <div class="modal-dialog" >

                  <!-- Modal content-->
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">설정</h4>
                      </div>
                      <div class="modal-body">
                          <p> 강의 만료 시간 설정 <BR>
                              ---------------------------<br>
                              <input type="radio" name="e" value="20" ng-model="formData.e">20분<br>
                              <input type="radio" name="e" value="30" ng-model="formData.e">30분<br>
                              <input type="radio" name="e" value="40" ng-model="formData.e">40분<br>
                              <input type="radio" name="e" value="50" ng-model="formData.e">50분<br>
                              <input type="radio" name="e" value="60" ng-model="formData.e">60분<br>
                          </p>
                      </div>
                      <div class="modal-footer">
                          <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="formData()">Save Change</button>
                      </div>
                  </div>

              </div>
          </div>

            </div>
  			<div class="panel-body">
			{% verbatim %}
                <img ng-src="{{ profile_image }}" width="100px" height="120px"><br/>
            {{lastname}}{{firstname}} {{ user_type }} <br/>
            아이디 : {{ username }} <br/>
			학번/사번 : {{ id }} <br/>
            소속학과 : {{ department }} <br/>
            이메일 : {{ email }} <br />
            결석 시간 설정 : {{ time_set }}분 <br />
			{% endverbatim %}
			</div>
		</div>
        <div class="panel panel-default" ng-controller="LectureController" ng-init="loadLectureList()">
  			<div class="panel-heading">담당 강좌
            </div>
  			<div class="panel-body">
                <div class="row" >
                    <div class="col-md-3">
                      <!-- <input type="text" class=" form-control"style="margin-bottom:10px" placeholder="강의실 번호" ng-model="newLectureNum"> -->
                        <input type="text" id="lectureroom_number" data-toggle="onlyNumber" title="주의" data-content="오직 숫자만 입력해주십시오." onkeydown='return onlyNumber(event)'
                               data-placement="top"
                               onkeyup='removeChar(event)' style='ime-mode:disabled;'  class=" form-control"style="margin-bottom:10px"
                               placeholder="강의실 번호" ng-model="newLectureNum">
                    </div>
                    <div class="col-md-7">
                        <input type="text" class=" form-control"id="subject_id" style="margin-bottom:10px" placeholder="새로운 강좌" ng-model="newLectureTitle">
                    </div>
                    <div class="col-md-2">
                        <input type="button" id ="subject_submit" class="btn btn-primary" style="width:100%;margin-bottom:10px" value="새 강좌 개설" ng-click="registNewLecture();createUuidTable();">
                    </div>

                </div>
			{% verbatim %}
                <div class="well" ng-repeat="lecture in lectures">
                    강좌명 : {{lecture.title}}<button type="button" class="btn btn-default" style="float: right;height:40px;margin-top:-9px;" onclick="clickdelete()">삭제</button>
                    <div class="modal fade" id="deleteCheck" role="dialog">
              <div class="modal-dialog" >

                  <!-- Modal content-->
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">경고</h4>
                      </div>
                      <div class="modal-body">
                          <p>정말 삭제 하시겠습니까?</p>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="deleteLecture(lecture.id)">네</button>
                          <button type="submit" class="btn btn-default" data-dismiss="modal">아니요</button>
                      </div>
                  </div>

              </div>
          </div>
                    <script>
             function clickdelete(){
             $("#deleteCheck").css("z-index", "9999");
            $("#deleteCheck").appendTo("body").modal();
             }

          </script>
                </div>

                <hr>
                <p style="float:right">총 {{lectures.length}}개의 강좌 담당 중</p>
			{% endverbatim %}
			</div>
		</div>

        <!-- Modal -->
        <div id="lecture-failed-modal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">생성 실패</h4>
              </div>
              <div class="modal-body">
                <p>이미 개설된 강좌입니다.</p>
              </div>
              <div class="modal-footer">
                  <script>
                      function transToLogin() {

                        $("#login-form").delay(100).fadeIn(100);
 		                $("#register-form").fadeOut(100);
		                $('#register-form-link').removeClass('active');
		                $(this).addClass('active');

                      }

                  </script>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="transToLogin()">확인</button>
              </div>
            </div>

          </div>
        </div>

	</div>
	<div id="attendance_check" class="tab-pane fade" ng-controller="LectureAttendanceCheckController" ng-init="loadLectureList()">
        <div class="panel panel-default">
            <div class="panel-heading">강좌선택</div>
            <div class="panel-body">
                <div class="form-group">
                    <select ng-model="seletedLecture" style="width:100%;" ng-change="updateSelectedLecture()">
                        <option ng-selected="selected" value="0">강좌를 선택하여 주세요</option>
                        {% verbatim %}
                        <option ng-repeat="lecture in lectures" value="{{lecture.id}}">[{{lecture.lecture_num}}] {{ lecture.title }}</option>
                        {% endverbatim %}

                        <input type="button" class="btn btn-success" style="width:100px;margin-top:10px" value="출석 시작" ng-click="startLecture();realTimeCheck(selectedTimeMin);realTimeReset(selectedTimeMin);checkUUID();">
                            인증시간
                            <select ng-model="selectedTimeMin" style="margin-top:10px">
                                {% verbatim %}
                                <option ng-repeat="x in selectedTime" value="{{x.int}}"> {{x.str}} </option>
                                {% endverbatim %}
                            </select>
                            남은시간 : {% verbatim %}{{realTimeMin}}{{strColon}}{{realTimeSec}}{% endverbatim %}

                        <ul class="navbar-form navbar-right">
                                {% verbatim %}{{lectureTimeRecord}}{% endverbatim %}
                                <button type="button" class="btn btn-success" tyle="width:100px;margin-top:10px" value="save" ng-click="save();">저장</button>
                            </ul>
                            <hr>
                        <div class="panel panel-default">
                            <div class="panel-heading">일괄 출석</div>
                            <div id="entire_controll_panel" class="panel-body">
                                <select ng-model="select_entire_control" ng-disabled="seletedLecture == '0'" style="height:25px; width:100%;" ng-change="updateEntireControl()">
                                    <option value="0" ng-selected="selected" >선택하세요</option>
                                    <option value="1" >전체 결석</option>
                                    <option value="2" >전체 지각</option>
                                    <option value="3" >전체 공결</option>
                                    <option value="4" >전체 출석</option>
                                </select>
                            </div>
                        </div>
                        <div ng-mouseover="stopRealCheck()" ng-mouseleave="continueRealCheck()" id="data_container" style="border:1px solid #c0c0c0; background-color:white; width:100%;height:392px;"></div>
                        <div id="specificControl" class="hidden" ng-app="BioBeaconApp" ng-controller="specificControlController">
                            <div class="popover-heading">수동 출석</div>
                            <div class="popover-body">
                                <button type="button" class="btn btn-primary" onclick="doCheck();" data-dismiss="modal">출석</button>
                                <button type="button" class="btn btn-success" onclick="doReasonableAbsent()" data-dismiss="modal">공결</button>
                                <button type="button" class="btn btn-warning" onclick="doLate()" data-dismiss="modal">지각</button>
                                <button type="button" class="btn btn-danger" onclick="doAbsent()" data-dismiss="modal">결석</button>
                            </div>
                        </div>
                        <script>
    $(document).ready(function(){
        $("#myBtn").click(function(){
            $("#logoutCheck").css("z-index", "9999");
            $("#logoutCheck").appendTo("body").modal();
        });
    });

                        loadDataView();
                        loadDataViewList();

     function onlyNumber(event){
			event = event || window.event;
			var keyID = (event.which) ? event.which : event.keyCode;
			if ( (keyID >= 48 && keyID <= 57) || (keyID >= 96 && keyID <= 105) || keyID == 8 || keyID == 46 || keyID == 37 || keyID == 39 )
				return;
			else if( keyId == 9){
			    var target = document.getElementById(subjcet_id);
			    target.focus();
			}
			else
				return false;
		}

    var flag = false;

    function removeChar(event) {
			event = event || window.event;
			var keyID = (event.which) ? event.which : event.keyCode;
			if ( keyID == 8 || keyID == 46 || keyID == 37 || keyID == 39 )
				return;
			else{

                            var check = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/;

                             if(check.test(event.target.value))
                            	{
                            	if (flag == false ){
                                	flag = true;
                                	$("#lectureroom_number").popover('show');
                                    setTimeout(function() {
                                        $("#lectureroom_number").popover('hide');
                                    	flag = false;
                                    }, 1000);
                                }

                            }
                            event.target.value = event.target.value.replace(/[^0-9]/g, "");

            }
    }







                        </script>
                    </select>
                </div>
            </div>
        </div>
    </div>


    <!-- 강좌 기록 -->
    <div id="attendance_check_list" class="tab-pane fade" ng-controller="LectureAttendanceCheckController_list" ng-init="loadLectureListView()">
        <div class="panel panel-default">
            <div class="panel-heading">강좌선택</div>
            <div class="panel-body">
                <div class="form-group">
                    <select ng-model="seletedLecture" style="width:100%;" ng-change="updateSelectedLectureTitle()">
                        <option ng-selected="selected" value="0">강좌를 선택하여 주세요</option>
                        {% verbatim %}
                        <option ng-repeat="lecture in lectures" value="{{lecture.id}}">[{{lecture.lecture_num}}] {{ lecture.title }}</option>
                        {% endverbatim %}
                        <input type="button" class="btn btn-success" style="margin-top:10px" value="저장" ng-click="save();">

                        <ul class="navbar-form navbar-right">
                        <select ng-model="seletedLectureTime" style="margin-top:10px" ng-change="checkedListView()">
                            {% verbatim %}
                            <option ng-repeat="timeLecture in timeLectures" value="{{timeLecture.id}}">[{{timeLecture.date}}] ({{timeLecture.num}}회)</option>
                            {% endverbatim %}
                        </select>
                        </ul>

                            <hr>
                        <div class="panel panel-default">
                            <div class="panel-heading">일괄 출석</div>
                            <div id="entire_controll_panel_list" class="panel-body">
                                <select ng-model="select_entire_control" ng-disabled="seletedLecture == '0'" style="height:25px; width:100%;" ng-change="updateEntireControl()">
                                    <option value="0" ng-selected="selected" >선택하세요</option>
                                    <option value="1" >전체 결석</option>
                                    <option value="2" >전체 지각</option>
                                    <option value="3" >전체 공결</option>
                                    <option value="4" >전체 출석</option>
                                </select>
                            </div>
                        </div>
                        <div id="data_container_list" style="border:1px solid #c0c0c0; background-color:white; width:100%;height:392px;"></div>
                        <div id="specificControl_list" class="hidden" ng-app="BioBeaconApp" ng-controller="specificControlController_list">
                            <div class="popover-heading">수동 출석</div>
                            <div class="popover-body">
                                <button type="button" class="btn btn-primary" onclick="doCheckList();" data-dismiss="modal">출석</button>
                                <button type="button" class="btn btn-success" onclick="doReasonableAbsentList()" data-dismiss="modal">공결</button>
                                <button type="button" class="btn btn-warning" onclick="doLateList()" data-dismiss="modal">지각</button>
                                <button type="button" class="btn btn-danger" onclick="doAbsentList()" data-dismiss="modal">결석</button>
                            </div>
                        </div>

                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<script>chulcheckJS();</script>


 <script>

    $(document).ready(function() {

        window.document.onkeydown = function () {
             if(event.keyCode==13)
                onEnterSubmit(false);
        }

    });
</script>